# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/


# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# Environments
.env

# mypy
.mypy_cache/

# Visual Studio Code
#   Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#   that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#   and can be added to the global gitignore or merged into this file. However, if you prefer, 
#   you could uncomment the following to ignore the entire vscode folder
# .vscode/
# Temporary file for partial code execution
tempCodeRunnerFile.py
